@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* header */
.dark_green {
    background-color: rgba(47, 120, 117, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    border: none;
    width: 98%;
    margin: 20px 15px;
    padding: 1rem 0rem;
    direction: rtl;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 3em 0px 3em;
}

.navigation_img {
    display: flex;
    align-items: center;
}

.navigation_img img {
    padding: 11px;
}

nav.header_nav li {
    display: inline-block;
    list-style: none;
    padding: 19px;
}

nav.header_nav a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {
    nav.header_nav li {
        display: none;
    }

    button.dark_green {
        padding: 12px 15em 12px 15em;
        font-size: 14px;
        margin-left: 1em;
    }

    .navigation-img-4 {
        display: none;
    }

    .navigation {
        margin: 1em 0em 0em 0em;
    }

}

/* header end */

/* slider heading and image */
section.heading-and-image {
    padding: 15px;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    text-align: end;
    margin-top: 10em;
    line-height: 40px;
}

.number-para-and-heading {
    margin-right: 6em;
}

.images img {
    width: 926px;
    height: 812px;
}

.heading-para h2 {
    width: 725px;
    margin-left: 4em;
    font-size: 40px;
    font-weight: 500;
}

.heading-para p {
    font-size: 24px;
    /* letter-spacing: 1px; */
    line-height: 35px;
    color: rgba(103, 103, 103, 1);
    width: 712px;
    height: 144px;
    margin-top: 1em;
    margin-left: 7em;
    font-weight: 400;
    text-align: right;
    direction: rtl;
}

.number h2 {
    font-size: 48px;
}

.para p {
    font-size: 20px;
}

.slider-btn {
    display: flex;
    align-items: center;
    margin-top: 12em;
    justify-content: end;
    margin-right: 10em;
}

/* slider heading and image end*/

/* navigation */
.center-navigation-heading {
    text-align: center;
    margin-top: 5em;
}

.center-navigation-heading h2 {
    font-size: 40px;
    font-weight: 500;
}

.center-navigation-heading nav {
    margin-top: 2em;
}

.center-navigation-heading li {
    display: inline-block;
    list-style: none;
    padding: 17px;
}

.center-navigation-heading a {
    color: black;
}

/* navigation end*/

/* even column best-seller  */

.even_column {
    display: flex;
    align-items: center;
    margin: 6em 40px 0px 20px;
    justify-content: space-between;
    gap: 11px;
}

.Best-seller-lazy-foot-img {
    border-radius: 12px;
    height: 500px;
}

.Best-seller-lazy-foot {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-size: 13px;
    margin-top: -3em;
    line-height: 29px;
    text-align: end;
}

.Best-seller-lazy-foot h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    direction: rtl;
    text-align: right;
}

.Best-seller-lazy-foot p {
    color: #676767;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    direction: rtl;
    text-align: right;
}

/* even column best-seller  end*/

/*  heading-image-and-button  */

.heading-img-and-btn {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
    line-height: 40px;
}

.heading-img-and-btn h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(103, 103, 103, 1);
}

.transparent-button {
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    padding: 12px 7em 12px 7em;
    margin-top: 3em;
}

/*  heading-image-and-button end */

/* contact-feature */
section.contact-feature {
    padding: 20px;
}

.container-3 {
    text-align: center;
    background-image: url("images/Rectangle\ 174.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1860px;
    height: 368px;
}

.heading-para-button {
    margin-top: 3em;
    padding-top: 8em;
    color: white;
}

.heading-para-button h1 {
    font-size: 46px;
    font-weight: 500;
}

.heading-para-button p {
    font-size: 13px;
    margin-top: 12px;
}

.two-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

button.white-btn {
    background: white;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    padding: 15px 37px;
}

button.transparent-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 15px 15px 15px 13em;
}

/* contact-feature end*/


/* footer */
section.footer-container {
    background-color: black;
    padding-top: 4em;
    height: 732px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.three-navigation {
    display: flex;
    align-items: center;
    gap: 11em;
    text-align: end;
    margin-left: 4em;
}

.three-navigation h1 {
    color: white;
    font-size: 28.71px;
    font-weight: 600;
}

.three-navigation nav {
    font-size: 16.75px;
    font-weight: 300;
}

.About.Penguin.Dojo {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

.support {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

.SHOP {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

section.footer-section-logo {
    color: #fff;
}

.footer-section-design {
    text-align: end;
    margin-right: 5em;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 3em;
}

.footer-section-design p {
    width: 99%;
    text-align: end;
    font-size: 20px;
    line-height: 50px;
    color: #bdbdbd;
    margin-top: 25px;
    font-weight: 300;
}

.footer-section-pragraph {
    margin-right: 4.5em;
    margin-top: 1em;
    text-align: end;
}

.footer-section-pragraph h1 {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 20.71px;
    font-weight: 300;
    justify-content: end;
}

.footer-section-pragraph p {
    font-size: 14px;
    margin-top: 23px;
}

.nav_end li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.nav_end {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-right: -11em;
}

.footer-section-end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18em;
    margin-left: 16em;
}

.two-footer-links {
    font-size: 15px;
    color: white;
    width: 21.27px;
    height: 21.27px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 767px) {
    section.footer-container {
        margin-top: 3em;
        padding-left: 14em;
    }

    .footer-section {
        flex-direction: column-reverse;
    }

    .About.Penguin.Dojo {
        line-height: 28px;
        margin-right: -25em;
        margin-top: 1em;
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .support {
        line-height: 28px;
        margin-right: -21em;
        margin-top: -7em;
    }

    .SHOP {
        line-height: 28px;
        margin-right: -18em;
        margin-top: -7em;
    }

    .footer-section-end {
        align-items: end;
        flex-direction: column;
        margin: 3em 2em 0em 0em;
    }

    .three-navigation {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-right: 5em;
    }

    section.footer-section-logo {
        margin-left: -9em;
    }

    .footer-section-design {
        margin-right: 0em;
    }

    .footer-section-pragraph {
        margin-right: 0em;
    }
}

/* footer end*/