@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* header */
.dark_green {
    background-color: rgba(47, 120, 117, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    border: none;
    width: 98%;
    margin: 20px 15px;
    padding: 1rem 0rem;
    direction: rtl;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 3em 0px 3em;
}

.navigation_img {
    display: flex;
    align-items: center;
}

.navigation_img img {
    padding: 11px;
}

nav.header_nav li {
    display: inline-block;
    list-style: none;
    padding: 19px;
}

nav.header_nav a {
    text-decoration: none;
    color: black;
}

.header-1-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
}

.header-1-img img {
    width: 638px;
    height: 510px;
}

.para-heading {
    text-align: center;
}

.para-heading h1 {
    font-size: 48px;
    font-weight: 500;
}

.para-heading p {
    font-size: 20px;
    font-weight: 400;
    color: #676767;
}

.para {
    margin-top: 15px;
    width: 318px;
    direction: rtl;
    line-height: 29px;
}

@media screen and (max-width: 767px) {
    nav.header_nav li {
        display: none;
    }

    button.dark_green {
        padding: 12px 15em 12px 15em;
        font-size: 14px;
        margin-left: 1em;
    }

    .navigation-img-4 {
        display: none;
    }

    .navigation {
        margin: 1em 0em 0em 0em;
    }

}

/* header end */

/* contact-customer */

section.contact-customer {
    background-image: url("images/Rectangle\ 163.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1903px;
    height: 375px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    padding-top: 6em;
    gap: 15px;
}

.contact-customer-box-1 {
    width: 422px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

/* contact-customer end*/

/* input-section */
.container-2 {
    text-align: center;
    padding: 6em;
}

.container-2 h1 {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 20px;
}

.input-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.input-two input[type="text"] {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 15px 38px;
    border-radius: 12px;
    text-align: end;
}

.input-two input[type="email"] {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 15px 38px;
    border-radius: 12px;
    text-align: end;
}

.input-one input[type="text"] {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 16px 20px 16px 26em;
    border-radius: 12px;
    text-align: end;
    margin-top: 19px;
}

.input-column input[type="text-aria"] {
    border: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 20px 20px 6em 26em;
    border-radius: 12px;
    text-align: end;
    margin-top: 19px;
}

.para-button {
    text-align: center;
    margin-top: -4em;
    font-size: 13px;
}

.para-button p {
    font-size: 12px;
    font-weight: 400;
    color: #676767;
    line-height: 24px;
}

.black-button {
    padding: 20px 50px;
    font-weight: 400;
    font-size: 13px;
    background-color: black;
    color: white;
    border-radius: 18px;
    border: none;
    margin-top: 23px;
}

/* input-section end*/

/* contact-feature */

section.contact-feature {
    padding: 20px;
}

.container-3 {
    text-align: center;
    background-image: url("images/Rectangle\ 174.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1860px;
    height: 368px;
}

.heading-para-button {
    margin-top: 3em;
    padding-top: 8em;
    color: white;
}

.heading-para-button h1 {
    font-size: 46px;
    font-weight: 500;
}

.heading-para-button p {
    font-size: 13px;
    margin-top: 12px;
}

.two-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

button.white-btn {
    background: white;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    padding: 15px 37px;
}

button.transparent-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 15px 15px 15px 13em;
}

/* contact-feature end*/


/* footer */
section.footer-container {
    background-color: black;
    padding-top: 4em;
    height: 732px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.three-navigation {
    display: flex;
    align-items: center;
    gap: 11em;
    text-align: end;
    margin-left: 4em;
}

.three-navigation h1 {
    color: white;
    font-size: 28.71px;
    font-weight: 600;
}

.three-navigation nav {
    font-size: 16.75px;
    font-weight: 300;
}

.About.Penguin.Dojo {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

.support {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

.SHOP {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

section.footer-section-logo {
    color: #fff;
}

.footer-section-design {
    text-align: end;
    margin-right: 5em;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 3em;
}

.footer-section-design p {
    width: 99%;
    text-align: end;
    font-size: 20px;
    line-height: 50px;
    color: #bdbdbd;
    margin-top: 25px;
    font-weight: 300;
}

.footer-section-pragraph {
    margin-right: 4.5em;
    margin-top: 1em;
    text-align: end;
}

.footer-section-pragraph h1 {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 20.71px;
    font-weight: 300;
    justify-content: end;
}

.footer-section-pragraph p {
    font-size: 14px;
    margin-top: 23px;
}

.nav_end li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.nav_end {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-right: -11em;
}

.footer-section-end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18em;
    margin-left: 16em;
}

.two-footer-links {
    font-size: 15px;
    color: white;
    width: 21.27px;
    height: 21.27px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 767px) {
    section.footer-container {
        margin-top: 3em;
        padding-left: 14em;
    }

    .footer-section {
        flex-direction: column-reverse;
    }

    .About.Penguin.Dojo {
        line-height: 28px;
        margin-right: -25em;
        margin-top: 1em;
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .support {
        line-height: 28px;
        margin-right: -21em;
        margin-top: -7em;
    }

    .SHOP {
        line-height: 28px;
        margin-right: -18em;
        margin-top: -7em;
    }

    .footer-section-end {
        align-items: end;
        flex-direction: column;
        margin: 3em 2em 0em 0em;
    }

    .three-navigation {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-right: 5em;
    }

    section.footer-section-logo {
        margin-left: -9em;
    }

    .footer-section-design {
        margin-right: 0em;
    }

    .footer-section-pragraph {
        margin-right: 0em;
    }
}

/* footer end*/