@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* header */
.dark_green {
    background-color: rgba(47, 120, 117, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 18px;
    font-size: 16px;
    text-align: center;
    border: none;
    width: 98%;
    margin: 20px 15px;
    padding: 1rem 0rem;
    direction: rtl;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 3em 0px 3em;
}

.navigation_img {
    display: flex;
    align-items: center;
}

.navigation_img img {
    padding: 11px;
}

nav.header_nav li {
    display: inline-block;
    list-style: none;
    padding: 19px;
}

nav.header_nav a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {
    nav.header_nav li {
        display: none;
    }

    button.dark_green {
        padding: 12px 15em 12px 15em;
        font-size: 14px;
        margin-left: 1em;
    }

    .navigation-img-4 {
        display: none;
    }

    .header-1-img {
        width: 96%;
        height: 380px;
    }

    .navigation {
        margin: 1em 0em 0em 0em;
    }
}

/* header end */

/* Best-seller */
.Best-seller-heading-para-1 {
    width: 25%;
}

section.Best-seller h1 {
    font-size: 60px;
    text-align: center;
    margin: 7em 3em 1em 0px;
    letter-spacing: 1px;
    font-weight: 300;
    width: 100%;
}

.even_column {
    display: flex;
    align-items: center;
    margin: 6em 40px 0px 40px;
    gap: 30px;
}

.Best-seller-heading-para-1:hover .hover-btn {
    transform: translateY(-50%);
}

.Best-seller-lazy-foot-img {
    height: 500px;
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.Best-seller-lazy-foot-img img {
    transition: transform 2s;
    width: 100%;
}

.Best-seller-lazy-foot-img img:hover {
    transform: scale(1.1);
}

.Best-seller-lazy-foot {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-size: 13px;
    margin-top: 2em;
    line-height: 29px;
}

.hover-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    background-color: black;
    color: #fff;
    border: none;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    margin-left: 0.5em;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    section.Best-seller h1 {
        margin: 3em 1.5em 1em 1em;
    }

    .even_column {
        margin: 6em 40px 0px 40px;
        flex-direction: column;
    }

    .Best-seller-lazy-foot {
        margin-top: 6em;
    }

}

/* Best-seller end */

/* best seller two */

.gift-card {
    background-image: url("images/Rectangle\ 111.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 670px;
    border-radius: 12px;
}

.heading-button {
    text-align: end;
    margin-top: 14em;
    margin-right: 1em;
    font-size: 36px;
}

.heading-button h1 {
    color: white;
    font-weight: 300;
}

.shop-now {
    color: white;
    border-radius: 12px;
    background-color: black;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 13px;
    text-align: end;
}

/* best seller two end*/

.ending-btn {
    color: white;
    border-radius: 10px;
    background-color: black;
    border: none;
    padding: 12px 4rem;
    font-size: 16px;
    font-weight: 300;
}

.foot-btn {
    text-align: center;
    margin: 3rem;
}

/* footer */
section.footer-container {
    background-color: black;
    padding-top: 4em;
    height: 732px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.three-navigation {
    display: flex;
    align-items: center;
    gap: 11em;
    text-align: end;
    margin-left: 4em;
}

.three-navigation h1 {
    color: white;
    font-size: 28.71px;
    font-weight: 600;
}

.three-navigation nav {
    font-size: 16.75px;
    font-weight: 300;
}

.About.Penguin.Dojo {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

.support {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

.SHOP {
    font-size: 15px;
    margin-left: 3em;
    line-height: 40px;
}

section.footer-section-logo {
    color: #fff;
}

.footer-section-design {
    text-align: end;
    margin-right: 5em;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 3em;
}

.footer-section-design p {
    width: 99%;
    text-align: end;
    font-size: 20px;
    line-height: 50px;
    color: #bdbdbd;
    margin-top: 25px;
    font-weight: 300;
}

.footer-section-pragraph {
    margin-right: 4.5em;
    margin-top: 1em;
    text-align: end;
}

.footer-section-pragraph h1 {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 20.71px;
    font-weight: 300;
    justify-content: end;
}

.footer-section-pragraph p {
    font-size: 14px;
    margin-top: 23px;
}

.nav_end li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.nav_end {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-right: -11em;
}

.footer-section-end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18em;
    margin-left: 16em;
}

.two-footer-links {
    font-size: 15px;
    color: white;
    width: 21.27px;
    height: 21.27px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 767px) {
    section.footer-container {
        margin-top: 3em;
        padding-left: 14em;
    }

    .footer-section {
        flex-direction: column-reverse;
    }

    .About.Penguin.Dojo {
        line-height: 28px;
        margin-right: -25em;
        margin-top: 1em;
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    .support {
        line-height: 28px;
        margin-right: -21em;
        margin-top: -7em;
    }

    .SHOP {
        line-height: 28px;
        margin-right: -18em;
        margin-top: -7em;
    }

    .footer-section-end {
        align-items: end;
        flex-direction: column;
        margin: 3em 2em 0em 0em;
    }

    .three-navigation {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-right: 5em;
    }

    section.footer-section-logo {
        margin-left: -9em;
    }

    .footer-section-design {
        margin-right: 0em;
    }

    .footer-section-pragraph {
        margin-right: 0em;
    }
}

/* footer end*/